# Part 1 - Neighbourhoods per Postal Code

Import libraries

In [10]:
! pip install lxml
import lxml
import requests
import pandas as pd

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.2)

Get Toronto postal code page from Wikipedia and make a dataframe

In [11]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
res = requests.get(url)
df=pd.read_html(res.text)[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Remove the 'Not assigned' rows

In [12]:
not_assigned_rows=df[(df['Neighbourhood'] == 'Not assigned')].index
df.drop(not_assigned_rows, inplace=True)
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Check if there are still 'Not assigned' values anywhere in the dataframe.

In [13]:
'Not assigned' in df.values

False

Sort out by Postal Code

In [14]:
df.sort_values(by=['Postal Code'], inplace=True)
df.reset_index(drop=True, inplace=True)
df.tail()

    Postal Code    Borough                                      Neighbourhood
98          M9N       York                                             Weston
99          M9P  Etobicoke                                          Westmount
100         M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W  Etobicoke                Northwest, West Humber - Clairville

The size of the cleaned up dataframe is:

In [15]:
df.shape

(103, 3)

____________________________________________________________________________
# Part 2 - Neighbourhoods with Geo Coordinates

Import and process geospatial coordinates for Toronto postal code areas

In [16]:
df_coor = pd.read_csv('../data/coordinates_Toronto.csv')
df_coor.sort_values(by=['Postal Code'], inplace=True)
df.reset_index(drop=True, inplace=True)
df_coor.shape

(103, 3)

Update neighbourhood dataframe with the coordinates

In [17]:
df['Latitude']=df_coor['Latitude']
df['Longitude']=df_coor['Longitude']
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476